@use '../abstracts/' as a;

.header {
    padding: a.rem(16) 0;
    max-width: a.rem(1160);
    width: 100%;
    @include a.add-flex($align-items: center);

    &__title {
        @include a.add-flex($align-items: center, $gap: a.rem(16));
    }

    &__action {
        @include a.add-flex($gap: a.rem(8), $align-items: center);
        margin-left: auto;

        .icon-sun,
        .icon-moon {
            width: a.rem(16);
            height: a.rem(16);
        }

        .icon-sun {
            background: var(--sun-svg);
            background-size: cover;
        }

        .icon-moon {
            background: var(--moon-svg);
            background-size: cover;
        }
    }

    @media all and (min-width: 768px) {
        padding-top: a.rem(40);
    }

    @media all and (min-width: 1440px) {
        padding-top: a.rem(80);
    }
}