@use '../abstracts' as a;

%list {
    @include a.add-flex($flex-direction: column, $gap: a.rem(12));

    width: 100%;

    & > li {
        @include a.add-flex($gap: a.rem(16), $align-items: center);
        padding: a.rem(12);
        background-color: var(--list-item-background);
        border: 3px solid transparent;
        border-radius: a.rem(12);
    }

    @media all and (min-width: 1440px) {
        width: a.rem(564);
    }
}

.category-list {
    @extend %list;
}

.quiz__options {
    @extend %list;

    & > li > img {
        width: clamp(a.rem(32), a.rem(24) + 1.5vw, a.rem(40));
        margin-left: auto;
    }

    & > li {

        &:hover .svg-container {
            color: purple;
            background-color: #F6E7FF;
        }

        .svg-container {
            background-color: #F4F6FA;
            color: #626C7F;
            text-align: center;
        }

        &.selected {
            & .svg-container {
                background-color: #A729F5;
                color: #FFFFFF;
            }

            border-color: #A729F5;

        }

        &.correct {
            & .svg-container {
                background-color: #26D782;
                color: #FFFFFF;
            }

            border-color: #26D782;
        }

        &.incorrect {
            & .svg-container {
                background-color: #EE5454;
                color: #FFFFFF;
            }

            border-color:#EE5454;
        }

    }

}