@use '../abstracts/' as a;

input:where([type="checkbox"][role="switch"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: relative;

    width: a.rem(32);
    height: a.rem(20);

    box-sizing: content-box;
    border-radius: 1rem;

    margin: auto;
    background-color: #A729F5;

    vertical-align: text-bottom;

    @media all and (min-width: 768px) {
        width: a.rem(48);
        height: a.rem(28);
    }
}

input:where([type="checkbox"][role="switch"])::before {
    content: "";
    position: absolute;
    top: 50%;
    left: a.rem(2);
    transform: translate(0, -50%);
    box-sizing: border-box;
    width: a.rem(14);
    height: a.rem(14);
    border: 1px solid transparent;
    border-radius: 50%;
    background: #FFFFFF;

    @media all and (min-width: 768px) {
        left: a.rem(4);
        width: a.rem(20);
        height: a.rem(20);
    }
}

input:where([type="checkbox"][role="switch"]):checked::before {
    left: a.rem(14);

    @media all and (min-width: 768px) {
        left: a.rem(24);
    }
}