@use '../abstracts/' as a;

:root[data-theme="light"] {
    --mobile-background: url("assets/images/pattern-background-mobile-light.svg");
    --tablet-background: url("assets/images/pattern-background-tablet-light.svg");
    --desktop-background: url("assets/images/pattern-background-desktop-light.svg");

    --page-background: #F4F6FA;
    --component-background: #FFFFFF;

    --primary-font-color: #313E51;
    --secondary-font-color: #626C7F;

}

:root[data-theme="dark"] {
    --mobile-background: url("assets/images/pattern-background-mobile-dark.svg");
    --tablet-background: url("assets/images/pattern-background-tablet-dark.svg");
    --desktop-background: url("assets/images/pattern-background-desktop-dark.svg");

    --page-background: #313E51;
    --component-background: #3B4D66;

    --primary-font-color: #FFFFFF;
    --secondary-font-color: #ABC1E1;
}

body {
    background: var(--mobile-background) var(--page-background);
    background-size: cover;
    color: var(--primary-font-color);

    padding: 0 a.rem(24);

    @include a.add-flex(column, $align-items: center);

    @media all and (min-width: 768px) {
        background: var(--tablet-background) var(--page-background);
        background-size: cover;
        padding: 0 a.rem(64);
    }

    @media all and (min-width: 1440px) {
        background: var(--desktop-background) var(--page-background);
        background-size: cover;
        padding: 0 a.rem(140);
    }
}

main {
    width: 100%;
    flex-grow: 1;
    @include a.add-flex(column, $justify-content: flex-start, $align-items: center);

    @media all and (min-width: 768px) { 
        justify-content: center;
    }
}
