@use '../abstracts/' as a;

@font-face {
    font-family: 'Rubik Medium';
    src: url("assets/fonts/static/Rubik-Medium.ttf");
}

@font-face {
    font-family: 'Rubik Regular';
    src: url("assets/fonts/static/Rubik-Regular.ttf");
}

@font-face {
    font-family: 'Rubik Italic';
    src: url("assets/fonts/static/Rubik-Italic.ttf");
}

.display {
    font: a.rem(88)/1 'Rubik Medium', sans-serif;

    @media all and (min-width: 768px) {
        font-size: a.rem(144);
    }
}

.heading-large-bold {
    font: a.rem(40)/1 'Rubik Medium', sans-serif;

    @media all and (min-width: 768px) {
        font-size: a.rem(64);
    }
}

.heading-large-regular {
    font: a.rem(40)/1 'Rubik Regular', sans-serif;

    @media all and (min-width: 768px) {
        font-size: a.rem(64);
    }
}

.heading-medium {
    font: a.rem(20)/1 'Rubik Medium', sans-serif;

    @media all and (min-width: 768px) {
        font-size: a.rem(36);
    }
}

.heading-small {
    font: a.rem(18)/1 'Rubik Medium', sans-serif;

    @media all and (min-width: 768px) {
        font-size: a.rem(28);
    }
}

.body-regular {
    font: a.rem(18)/1.5 'Rubik Regular', sans-serif;

    @media all and (min-width: 768px) {
        font-size: a.rem(24);
    }
}

.body-italic {
    font: a.rem(14)/1.5 'Rubik Italic', sans-serif;

    @media all and (min-width: 768px) {
        font-size: a.rem(20);
    }
}